div{
    display: flex;
    height: 700px;
    width: 700px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

p{
    display: flex;
    flex-direction: column;
}

button{
    display: center;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}