body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.base{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 700px;
    width: 700px;
    background-color: grey;
    border-radius: 20px;
    flex-direction: column;
}

button{
    height: 60px;
    width: 180px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 15px;
}

.pessoal{
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1{
    margin-bottom: 5px
}
p{
    font-size: 20px;
}
label{
    font-size: 15px;
}

input{
    height: 20px;
    width: 200px;
}
