.h12OInimigoAgoraEOutro{
    background-color: #B5651d;
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.h12OInimigoAgoraEOutro:hover{
    transition: 0.7s;
    color: black;
}

.div2{
    font-family: Arial, Helvetica, sans-serif;
}